@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.montaga {
  font-family: 'Montaga', serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.gradient {
  background: rgb(77, 98, 229);
  background: linear-gradient(0deg, rgba(253, 48, 50, 0) 0%, #971d1e 100%),
    linear-gradient(180deg, #82d5dc 0%, #467276 100%),
    linear-gradient(180deg, #1a3659 0%, #3874bf 100%);
}
