@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.montaga {
  font-family: 'Montaga', serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.gradient {
  background: rgb(77, 98, 229);
  background: linear-gradient(
    45deg,
    rgba(77, 98, 229, 1) 0%,
    rgba(191, 37, 51, 0.7399334733893557) 45.31%,
    rgba(182, 240, 156, 1) 100%
  );
}
