.container {
  /* width: 1277px; */

  padding: 80px;
}

.heading {
  font-family: "Montaga";
  font-size: 42.57px;
  font-weight: 400;
  line-height: 52.44px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008080;
  width: 810.54px;
  height: 104px;
  gap: 0px;
  margin: 0 auto 50px;
  opacity: 0px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-1 {
  flex-basis: 57%;
}

.row-1 img {
  width: 100%;
}

.row-2 {
  flex-basis: 37%;
}

.row-2 h1 {
  font-family: "Montaga";
  font-size: 56.76px;
  font-weight: 400;
  line-height: 52.78px;
  text-align: left;
  color: #ee5051;
}

.row-2 p {
  font-family: "Montaga";
  font-size: 28.38px;
  font-weight: 400;
  line-height: 34.96px;
  text-align: left;
  color: #343a41;
  margin-top: 30px;
}

.container-1 {
  margin: 80px auto 10px;
}

.horizontal-line {
  width: 23%;
  height: 5px;
  background: #ee5051;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container-1 h2 {
  font-family: "Montserrat";
  font-size: 35.47px;
  font-weight: 600;
  color: #ee5051;
  text-align: center;
}

.container-courses {
  background: #fafafa;
  border-radius: 18.62px;
  padding: 13.3px 23.06px;
  margin: 25px 0 0;
  position: relative;
}

.container-courses h2 {
  font-family: " Montaga";
  font-size: 40px;
  font-weight: 400;
  line-height: 52.44px;
  text-align: left;
  color: #343a41;
  margin: 25px 0;
}

.courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.box-1 {
  border: 2px solid #2fcfdc;
  border-bottom-left-radius: 23.06px;
  border-bottom-right-radius: 23.06px;
  border-top-right-radius: 14.9px;
  border-top-left-radius: 14.9px;
  flex-basis: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.con-img {
  width: 102.1%;
  border-top-right-radius: 14.9px;
  border-top-left-radius: 14.9px;
  /* margin-right: -8px; */
}

.con-img img {
  width: 100%;
  border-top-right-radius: 14.9px;
  border-top-left-radius: 14.9px;
  margin: -4px -3px 0;
}

.box-1 h6 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  color: #363f40;
  margin: 15px 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #363f40;
  padding: 7px 14px;
  gap: 10px;
  border-radius: 7.28px;
  background: #2fcfdc;
  font-family: "Montserrat";
  font-size: 12.42px;
  font-weight: 600;
  margin: 35px 20px 15px;
}

.btn-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #363f40;
  padding: 7px 14px;
  gap: 10px;
  border-radius: 7.28px;
  background: #2fcfdc;
  font-family: "Montserrat";
  font-size: 12.42px;
  font-weight: 600;
  margin: 3px 20px 15px;
}

.next {
  position: absolute;
  right: 0;
  width: 35px;
  cursor: pointer;
}
